.drawer-titles {
  color: rgba(0, 0, 0, 0.85);
  line-height: 1.5;
  font-size: 16px;
  font-weight: 600;
  margin-bottom: 0.5em;
}

.drawer-header-wrapper {
  h4 {
    color: rgba(0, 0, 0, 0.85);
    font-weight: 600;
    font-size: 24px;
  }

  span {
    font-size: 14px;
    font-weight: 400;
    color: #8c8c8c;
  }
}

$colors:
  rgb(24, 144, 255), rgb(82, 196, 26), #ff4d4f, rgb(250, 219, 20),
  rgb(38, 38, 38);

.drawer-colors-buttons {
  margin-bottom: 25px;

  @for $i from 1 through length($colors) {
    button:nth-child(#{$i}) {
      background-color: nth($colors, $i);
      width: 20px !important;
      height: 20px !important;
      border: none;
      margin-right: 8px;
      border-radius: 6px;
    }
  }
}
.drawer-transparent-wrapper {
  margin-bottom: 25px;

  .drawer-transparent-subtitle {
    color: #8c8c8c;
    font-size: 14px;
  }
  .drawer-transparent-buttons-wrapper {
    margin-top: 1rem;
    display: flex;
    button {
      width: 100%;
      height: 40px;
      padding: 0 15px;
      box-shadow:
        0 3px 5px -1px rgb(0 0 0/9%),
        0 2px 3px -1px rgb(0 0 0/7%);
      outline: none;
      border: none;
      border-radius: 4px;
      font-weight: 400;
      transition: color 0.3s ease;
    }
    button:nth-child(1) {
      margin-right: 10px;
    }

    .drawer-transparent-button-not-selected {
      background-color: #fff;
      border: 1px solid #8c8c8c;

      &:hover {
        border: 1px solid rgb(24, 144, 255);
        color: rgb(24, 144, 255);
        cursor: pointer;
      }
    }

    .drawer-transparent-button-selected {
      background-color: rgb(24, 144, 255);
      color: #fff;
    }
  }
}

.fixed-wrapper {
  margin-bottom: 25px;
}

.download-wrapper {
  display: flex;
  flex-direction: column;
  button {
    width: 100%;
    margin-bottom: 10px;
    border-radius: 5px;
    border: none;
    padding: 15px;
    box-shadow: 0 2px 4px rgb(0 0 0/7%);
  }
  button:nth-child(1) {
    background-color: rgb(38, 38, 38);
    color: rgb(255, 255, 255);
  }
  button:nth-child(2) {
    background-color: rgb(255, 255, 255);
    border: 1px solid #d9d9d9;
  }
}

.star-container {
  margin-top: 15px;

  .star-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;

    .star-section {
      display: flex;
      align-items: center;
      font-size: 12px;
      padding: 5px 10px;
      border: 1px solid rgba(27, 31, 36, 0.15);
      border-right: none;
      border-radius: 0.25em 0 0 0.25em;
      background-color: #ebf0f4;
      color: #24292f;
    }
    .stargazers-section {
      font-size: 12px;
      padding: 5px 10px;
      border: 1px solid rgba(27, 31, 36, 0.15);
      border-radius: 0 0.25rem 0.25rem 0;
      color: #24292f;
    }
  }
}

.share-section {
  margin-top: 25px;

  h5{
    text-align: center;
  }

  .share-buttons-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;

    button {
      background-color: rgb(38, 38, 38);
      color: rgb(255, 255, 255);
      border: none;
      border-radius: 5px;
      margin: 0 0.5rem;
      display: inline-flex;
      align-items: center;
      padding: 10px 15px;

      span svg {
        margin-right: 8px;
      }
    }
  }
}
