{
    "singleQuote": true,
    "semi": true,
    "trailingComma": "all",
    "printWidth": 100,
    "tabWidth": 2,
    "bracketSpacing": true,
    "arrowParens": "always",
    "endOfLine": "lf",
    "plugins": ["@trivago/prettier-plugin-sort-imports"],
    "importOrder": [
    "^vite(@vitejs)?(/(.*))?$",
    "^(react|react-dom)(/(.*))?$",
    "^react-router(/(.*))?$",
    "^@tanstack(/(.*))?$",
    "^react-toastify(/(.*))?$",
    "^clsx(/(.*))?$",
    "<THIRD_PARTY_MODULES>",
    "^@/api",
    "^@/components",
    "^@/context",
    "^@/dto",
    "^@/hooks",
    "^@/icons",
    "^@/pages",
    "^@/providers",
    "^@/stores",
    "^@/types",
    "^@/utils",
    "^@/styles",
    "^@/layout",
    "^@/types",
    "^@/zustand",
    "^(\\.\\.\\/)(?!.*\\.css$).*",
    "\\.css$"
  ],
  "importOrderSeparation": true,
  "importOrderSortSpecifiers": true,
  "importOrderGroupNamespaceSpecifiers": true
}